<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Form<small> for adding new consultant</small></h5>
        </div>
        <div class="ibox-content">
          <%= form_for(@consultant, class: 'form-horizontal') do |f| %>
            <% if @consultant.errors.any? %>
              <div id="error_explanation">
                <h2><%= @consultant.errors.count %> error(es) no permitieron guardar el registro:</h2>
                <ul>
                  <% @consultant.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <div class="form-group">
                <%= f.label :code, class: 'col-sm-2 control-label'%>
                <div class="col-sm-8">
                  <div class="col-sm-8">
                    <%= f.text_field :code, class: 'form-control', :required => true %>
                  </div>

                </div>
              </div>
              <br>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <%= f.label "Full name", class: 'col-sm-2 control-label'%>
                <div class="col-sm-8">
                  <div class="col-sm-8">
                    <%= f.text_field :fullName, class: 'form-control', :required => true %>
                  </div>
                </div>
              </div>
              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <%= f.label :email, class: 'col-sm-2 control-label'%>
                <div class="col-sm-8">
                  <div class="col-sm-8">
                    <%= f.email_field :email, class: 'form-control', :required => true %>
                  </div>
                </div>
              </div>
              <br>
              <div class="hr-line-dashed"></div>


              <div class="form-group">
                <%= f.label "Phone number", class: 'col-sm-2 control-label'%>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    <%= f.text_field :phoneNumber, class: 'form-control', :required => true %>
                  </div>
                </div>
              </div>
              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
              <%= f.label "Role", class: 'col-sm-2 control-label'%>
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <%= f.select :role, options_for_select(Consultant::ROLE.collect { |role| [role.to_s] }, @consultant.role), {}, {class:"chosen-select", style: "width:350px;" } %>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="hr-line-dashed"></div>
            </div>







            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a href="<%= url_for consultants_path %>">
                  <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Consultants</button>
                </a>
                <%= button_tag(type: 'submit', class: "btn btn-outline btn-success btn-rounded") do %>
                  <i class="fa fa-database"></i> Save
                <% end %>
              </div>
            </div>
            <br><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">


      var config = {
          '.chosen-select'           : {},
          '.chosen-select-deselect'  : {allow_single_deselect:true},
          '.chosen-select-no-single' : {disable_search_threshold:10},
          '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
          '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }
  </script>
<% end %>
