<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-xs-4">
          <i class="fa fa-list-ol fa-5x"></i>
        </div>
        <div class="col-xs-8 text-right">
          <h3 class="font-bold">Quotation Manager System</h3>
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <h3>Login</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">

        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">

        <%= f.password_field :password, autocomplete: "off",class: "form-control", placeholder: "Contraseña" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox checkbox-success ">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me%>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Login", class: "btn btn-primary block full-width m-b" %>
      </div>


    <% end %>

    <%= link_to 'Forgot password?', new_user_password_path%>
    <br>
    <div class="hr-line-solid"></div>

    <small>Alfredo Vazquez &copy; 2015 - <%= Date.today.year %> </small>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">



      jQuery(function() {

          var tz = jstz.determine();
          console.log (tz);
          $.cookie('timezone', tz.name(), { path: '/' });

      });
  </script>
<% end %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.js"></script>



